
    <section class="product-gallery">
        {% comment %} <img src="/assets/dummy-image.png" alt="Product afbeelding" class="main-image"> {% endcomment %}
        <div class="outer-main-image">
            <img
                src="https://fdnd-agency.directus.app/assets/{{ product.images[0].directus_files_id }}"
                alt="{{ product.title }}"
                class="main-image"
            >
        </div>

        <button type="button" class="previous-button">←</button>

        <button type="button" class="next-button">→</button>

        <ul class="thumbnails">
            {% for image in product.images %}
                <li>
                    <a href="https://fdnd-agency.directus.app/assets/{{ image.directus_files_id }}">
                        <img
                            src="https://fdnd-agency.directus.app/assets/{{ image.directus_files_id }}"
                            alt="{{ product.title }}"
                        >
                    </a>
                </li>
            {% endfor %}
        </ul>

    </section>

